{% extends 'base.html.twig' %}

{% block body %}
<link href="{{ asset('css/account.css') }}" rel="stylesheet" />
<link href="{{ asset('css/form.css') }}" rel="stylesheet" />



    <section>

        <div class="block">
            <p class="title-form">Create a new page</p>
            <hr>
            
            <div id="editor-title">
                Title
            </div>
            <div id="editor-intro">
                Intro
            </div>
            <div id="editor-content">
                Content
            </div>

            <div>
                <br>
                Tags : <div id="tag-list"></div>
                <br>
            </div>

            <div class="search-tag-block">
                <div class="flex">
                <input id="input-tag" onkeyup="tagResult(this.value)" type="text" placeholder="search tag..."> <button id="btn-add-tag">+</button>
                </div>
                <div id="search-tag-result"></div>
            </div>

            <button id="btn-save">send</button>

            
            
            <script src="{{ asset('js/ckeditor5-build-inline/build/ckeditor.js') }}"></script>
            <script src="{{ asset('js/editor.js') }}"></script>
            <script src="{{ asset('js/tag.js') }}"></script>
            <script src="{{ asset('js/page.js') }}"></script>
            
        </div>
        
        
    
    </section>
    
{% endblock %}
{% block javascript%}
    
   
    
{% endblock %}