{% extends 'base.html.twig' %}

{% block body %}
<link href="{{ asset('css/account.css') }}" rel="stylesheet" />
<link href="{{ asset('css/form.css') }}" rel="stylesheet" />

    <section>

        

        <div class="block">
            <p class="title-form">Create a new page</p>
            <hr>
            
            {{ form_start(PageForm) }}
                {{ form_label(PageForm.title) }} <br>
                {{ form_widget(PageForm.title,{
                    'attr':{'class':'card input-form',
                    'placeholder': 'Page title'}
                }) }}

                {{ form_label(PageForm.content) }} <br>
                {{ form_widget(PageForm.content,{
                    'attr':{'class':'card input-form',
                    'placeholder': 'Enter your email address'}
                }) }}

            <div class="flex end">
                    <button class="btn-signup" type="submit">Create page</button>
            </div>
            {{ form_end(PageForm) }}
                
        
        
        </div>
        
        
    
    </section>
    
{% endblock %}