{% extends 'base.html.twig' %}

{% block body %}
<link href="{{ asset('css/account.css') }}" rel="stylesheet" />

    <section>

       
        <article class="page-block card ck-content">
                
                {{ page.title | raw}}
                {{ page.intro | raw }}
                {{ page.content | raw }}
                {{ page.user.username }}
                
        </article>

        <div>

      
</div>
    </section>
    
{% endblock %}