<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto">
            <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            
        {% endblock %}
    </head>
    <body>
            <div class="flex">
                    <nav id="navBar">
                        <span class="nav-content">
                        
                            <div class="nav-logo center"><a href="{{ path('index') }}"><img class="nav-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png" alt=""></a></div>
                            
                            <div class="center title-nav">P.S Op.1 </div>
                
                            <hr>
                            
                            <ul> 
                                <li><a href=""><span class="mdi mdi-spin mdi-orbit icon-medium"> </span>Accueil</a></li>
                                <li><a href=""><span class="mdi mdi-filter icon-medium"> </span>Thématiques</a></li>
                                <li><a href=""><span class="mdi mdi-file-question icon-medium"> </span>Page aléatoire</a></li>
                                <li><a href=""><span class="mdi mdi-clock-alert icon-medium"> </span>Articles récents</a></li>
                                <li><a href=""><span class="mdi mdi-mail icon-medium"> </span>Contact</a></li>
                                {% if app.user %}
                                <hr>
                                <li><a href="{{ path('user') }}"><span class="mdi mdi-file-question icon-medium"> </span>My pages</a></li>
                                <li><a href=""><span class="mdi mdi-clock-alert icon-medium"> </span>Account</a></li>
                                <li><a href=""><span class="mdi mdi-mail icon-medium"> </span>Review page</a></li>
                                {% endif %}
                            </ul>
                            
                        </span>
                
                    </nav>
                
                    <main>
                    
                        <header>
                                <span id="btn-menu" class="mdi mdi-menu icon-medium btn-menu"> </span>
                                <div class="header-title ">
                                    <a href="" class="flex">
                                        <img class="nav-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png" alt="">
                                        <p>P.S Op.1</p> 
                                    </a>
                                </div>

                                {% if not app.user %}
                                    <div>
                                        <a href="{{ path('app_register') }}"><span class="mdi mdi-account-edit icon-medium"> </span>Signup</a>
                                        <a href="{{ path('app_login') }}"><span class="mdi mdi-account icon-medium"> </span>Login</a>
                                    </div>
                                {% endif %}
                                {% if app.user %}
                                    <div>
                                        
                                        <a href="{{ path('app_logout') }}"><span class="mdi mdi-account icon-medium"> </span>Logout</a>
                                    </div>
                                {% endif %}
                                
                        </header>

                        <div id="background"></div>

                        <div class="block-search">
                            <input class="input-search" type="text" placeholder="Search . . .">
                            <button class="card btn-search"><span class="mdi mdi-magnify icon-medium"> </span></button>
                        </div>
                    
                        {% block body %}{% endblock %}
                    
                        <div id="modal-background"></div>
                    
                    </main>
                </div>
                
                <footer>
                   <div class="top-footer"></div>
                   <div class="bottom-footer flex">
                        <span class="center grey"> © 2019 Copyright:  
                            <a  href="https://toohk.fr"> toohk.fr</a>
                        </span> 
                    </div>
                </footer>
        
        {% block javascripts %}
        <script src="{{ asset('js/nav-bar.js') }}"></script>
        <script src="{{ asset('js/daily-picture.js') }}"></script>
        {% endblock %}
    </body>
</html>
8