<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}P.S Op.1{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}"/>
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('img/icon/android-icon-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/icon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/icon/favicon-96x96.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/icon/favicon-16x16.png')}}">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto">
            <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            
        {% endblock %}
    </head>
    <body>
            <div class="flex">
                    <nav id="navBar">
                        <div class="nav-content">
                        
                            <div class="nav-logo center">
                                <a href="{{ path('index') }}">
                                    <img class="nav-logo" src="{{ asset('img/logo.png') }}" alt="">
                                </a>
                            </div>
                            
                            <div class="center title-nav">P.S Op.1 </div>
                            <div class="center subtitle-nav">Encyclopedia of Astronomy</div>
                
                           
                            
                            <ul> 
                                
                                <li><a href=""><span class="grey-dark mdi mdi-spin mdi-orbit icon-medium"> </span>Accueil</a></li>
                                <li><a href=""><span class="grey-dark mdi mdi-filter icon-medium"> </span>Thématiques</a></li>
                                <li><a href=""><span class="grey-dark mdi mdi-file-question icon-medium"> </span>Page aléatoire</a></li>
                                <li><a href=""><span class="grey-dark mdi mdi-clock-alert icon-medium"> </span>Articles récents</a></li>
                                <li><a href=""><span class="grey-dark mdi mdi-mail icon-medium"> </span>Contact</a></li>
                                
                                {% if app.user %}
                                  
                                    <li><a href="{{ path('user') }}"><span class="red mdi mdi-folder icon-medium"> </span>My pages</a></li>
                                    <li><a href="{{ path('list_review') }}"><span class="red mdi mdi-mail icon-medium"> </span>Review page</a></li>
                                    <li><a href=""><span class="red mdi mdi-account icon-medium"> </span>Account</a></li>
                                {% endif %}
                            </ul>
                            
                        </div>
                
                    </nav>
                
                    <main>
                    
                        <header>
                            <span id="btn-menu" class="mdi mdi-menu icon-medium btn-menu"> </span>
                            <div class="header-title ">
                                <a href="" class="flex">
                                    <img class="nav-logo" src="{{ asset('img/logo.png') }}" alt="">
                                    <p>P.S Op.1</p> 
                                </a>
                            </div>

                            {% if not app.user %}
                                <div>
                                    <a href="{{ path('app_register') }}"><span class="mdi mdi-account-edit icon-medium"> </span>Signup</a>
                                    <a href="{{ path('app_login') }}"><span class="mdi mdi-account icon-medium"> </span>Login</a>
                                </div>
                            {% endif %}
                            {% if app.user %}
                                <div>
                                    
                                    <a href="{{ path('app_logout') }}"><span class="mdi mdi-account icon-medium"> </span>Logout</a>
                                </div>
                            {% endif %}
                                
                        </header>

                        <div id="background"></div>
                        
                        <div class="block-search" >
                            <input class="input-search" onkeyup="showResult(this.value)" id="search-input" type="text" placeholder="Search . . .">
                            <button class="card btn-search"><span class="mdi grey-dark mdi-magnify icon-medium"> </span></button>
                        </div>
                        <div id="block-result">
                            <div id="livesearch">
                                
                            </div>
                        </div>
                        {% block body %}{% endblock %}
                    
                        <div id="modal-background"></div>
                    
                    </main>
                </div>
                
                <footer>
                   <div class="top-footer"></div>
                   <div class="bottom-footer flex">
                        <span class="center grey"> © 2019 Copyright:  
                            <a  href="https://toohk.fr"> toohk.fr</a>
                        </span> 
                    </div>
                </footer>
        
        {% block javascripts %}
            <script src="{{ asset('js/nav-bar.js') }}"></script>
            <script src="{{ asset('js/animation.js') }}"></script>
            <script src="{{ asset('js/search.js') }}"></script>
            <script src="{{ asset('js/daily-picture.js') }}"></script>
        {% endblock %}
    </body>
</html>
8